{% assign has_dropdown = false %}
<ul id="accessibleNav" class="site-nav">
  {% comment %}
  Read the links from the menu passed in from {% include 'site-nav' ... %}
  {% endcomment %}
  {% for link in navMenu.links %}
  <li class="menu-item-depth-0{% if link.active %} site-nav--active{% endif %}">
    <a href="{{ link.url }}" class="site-nav__link{% if has_dropdown == false %} site-nav__linknodrop{% endif %}">{{ link.title }}</a>
  </li>
  {% endfor %}
</ul>